<!-- <div class=“container”>
<div class=“row”>
<div class=“col-xs-12 col-sm-offset-3”></div>

<%= simple_form_for [@cocktail] do |f| %>
 <%= f.input :name %>
 <%= f.input :ingredient %>
 <%= f.input :address %>
 <%= f.input :category %>
 <%= f.submit "add cocktail", class: "btn btn-primary" %>
<% end %>

</div>
</div> -->
