
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h3><%= @cocktail.name  %></h3>


      <% @cocktail.doses.each do |dose|%>
        <h3><%= dose.ingredient.name%> - <%= dose.description%></h3>
        <p><%= link_to "delete dose", dose_path(dose), method: :delete %></p>

      <%end%>

      <%= link_to "add a dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-success'%>
      <%= link_to "Go back to cocktails", cocktails_path, class: 'btn btn-success' %>

    </div>
  </div>
</div>

